/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  /* background: #ff9800; */
  background: #ff4453;
  position: sticky;
  /* width: 100%; */
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  width: auto;
}

.brand-name {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}

/* Banner Section */
.banner {
  /* background: url("https://imgs.search.brave.com/6RVznYLHNUHTjkQmDAkfnbtt0qJ85w5WXJQ6QGbS804/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTI3/ODMxOTQzMS9waG90/by95b3VuZy13b21h/bi1kaXdhbGktY2Vs/ZWJyYXRlLXN0b2Nr/LXBob3RvLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz1hQmdZ/b3lYdXhBbWkwSGtH/ME5WS3FsSDd1cVNn/N25BMGltblNYTGlQ/a01nPQ") */
  background: url("images/home_banner.png") no-repeat center center/cover;
  height: 95vh; /* Full screen height */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.banner-boy {
  position: absolute;
  bottom: 0px;
  left: -80px;
}

.banner-samosa {
  position: absolute;
  bottom: 60px;
  right: -180px;
}

/* Dark Overlay */
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

/* Banner Content */
.banner-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
  animation: fadeIn 2s ease-in-out;
}

/* Heading Styling */
.banner-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
  color: #fff;
}

.banner-heading .highlight {
  color: #ff4453;
  text-decoration: underline;
  animation: pulse 2s infinite ease-in-out;
}

/* Banner Text */
.banner-text {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: lighter;
}

/* Button Styling */
.banner-content .btn {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: #ff4453;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s;
}

.banner-content .btn:hover {
  background: #f8f7f7;
  transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    text-shadow: 0 0 10px #323232;
  }
  50% {
    transform: scale(1.1);
    text-shadow: 0 0 20px #323232;
  }
}

/* Product Section */
.products {
  padding: 50px 20px;
  background-color: #f5d19d;
  text-align: center;
}

.products h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.product-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-card {
  /* background: #fff; */
  background-color: #f5d19d;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  width: 330px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}

.product-info h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 1rem;
  color: #2a2a2a;
  margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  color: #1a0701cd;
  margin-bottom: 20px;
}

.product-info .btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #ff4453;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.product-info .btn:hover {
  background-color: #ff4454dd;
}

/* About Us Section */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #fff;
}

.about-content {
  width: 50%;
  padding-right: 30px;
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff4453;
  text-align: center;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.about-amitjalpan {
  color: #ff4453;
  font-weight: bold;
}

.about-image {
  width: 40%;
}

.about-image img {
  width: 100%;
}

/* Testimonial Section */
.testimonials {
  padding: 50px 20px;
  background-color: #f5d19d47;
  text-align: center;
}

.testimonials h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.testimonial-card {
  background-color: #f5d19d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.testimonial-text p {
  font-size: 1.2rem;
  font-style: italic;
  color: #555;
  margin-bottom: 15px;
}

.testimonial-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.testimonial-info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid #333;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonial-info h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.testimonial-info p {
  font-size: 1rem;
  color: #777;
}

/* Contact Us Section */
.contact {
  background-color: #f5f5f5;
  padding: 50px 20px;
  background-image: url("images/contact-background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-info,
.contact-form {
  flex: 1;
  min-width: 300px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.5);
}

.contact-info h2,
.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-item i {
  font-size: 1.5rem;
  color: #ff4453;
}

.contact-item p {
  font-size: 1.1rem;
  color: #fff;
}

.contact-item a {
  color: #ff4453;
  text-decoration: none;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  font-size: 1rem;
  display: block; /* Make labels block elements so they take full width */
  margin-bottom: 5px;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-top: 5px;
  background: #fff;
  color: #333;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ff4453;
  outline: none;
}

.contact-form button {
  background-color: #ff4453;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e64a19;
}

/* Hover Effects */
.contact-info:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.contact-form:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

/* Footer Styling */
.footer {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 50px 20px;
  font-family: "Arial", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ff4453; /* Accent color */
}

.footer-section p,
.footer-section ul {
  font-size: 1rem;
  line-height: 1.5;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #ff4453; /* Hover effect */
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links li {
  font-size: 1.5rem;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links li a:hover {
  color: #ff4453; /* Hover effect */
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555;
}

.footer-bottom p {
  font-size: 1rem;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .banner-content {
    max-width: 600px;
  }

  .banner-boy {
    height: 550px;
    position: absolute;
    bottom: 0px;
    left: 70px;
  }

  .banner-samosa {
    height: 500px;
    position: absolute;
    bottom: 650px;
    right: 100px;
  }

  .banner-heading {
    font-size: 3rem;
  }

  .banner-text {
    font-size: 1.4rem;
  }

  .banner-content .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .products h1 {
    font-size: 3rem;
  }

  .product-card img {
    height: 180px;
  }

  .about {
    flex-direction: column;
    text-align: center;
    /* padding: 50px 30px; */
    padding-bottom: 0px;
  }

  .about-content {
    width: 100%;
    padding-right: 0;
  }

  .about-image {
    width: 100%;
    margin-top: 20px;
  }

  .about h1 {
    font-size: 3rem;
  }

  .about p {
    font-size: 1.5rem;
  }

  .testimonials h1 {
    font-size: 2rem;
  }

  .testimonial-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .testimonial-text p {
    font-size: 1rem;
  }

  .testimonial-info h3 {
    font-size: 1.1rem;
  }

  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-info,
  .contact-form {
    min-width: 100%;
    margin-bottom: 30px;
  }

  .contact-info h2,
  .contact-form h2 {
    font-size: 1.8rem;
  }

  .contact-item {
    flex-direction: column;
    align-items: center;
  }

  .contact-item i {
    font-size: 2rem;
  }

  .contact-item p {
    font-size: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form button {
    font-size: 1.1rem;
  }
}

/* Mobile Responsive Styling */
@media (max-width: 768px) {
  .brand-name {
    display: none; /* Hide the brand name on smaller screens */
  }

  .hamburger {
    display: flex; /* Show hamburger on mobile */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: #ff4453;
    width: 100%;
    transform: translateX(100%);
    text-align: center;
  }

  .nav-links.open {
    display: flex;
    transform: translateX(0); /*Show the menu when open*/
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  .banner-content {
    padding: 10px;
    max-width: 500px;
  }

  .banner-boy {
    height: 550px;
    position: absolute;
    bottom: 0px;
    left: 70px;
  }

  .banner-samosa {
    height: 500px;
    position: absolute;
    bottom: 650px;
    right: 100px;
  }

  .banner-heading {
    font-size: 2rem;
  }

  .banner-text {
    font-size: 1rem;
  }

  .banner-content .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .products h1 {
    font-size: 2.5rem;
  }

  .product-card img {
    height: 160px;
  }

  .product-info h3 {
    font-size: 1.2rem;
  }

  .product-info p {
    font-size: 0.9rem;
  }

  .price {
    font-size: 1rem;
  }

  .product-info .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .about h1 {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 1.2rem;
  }

  .testimonials h1 {
    font-size: 1.8rem;
  }

  .testimonial-text p {
    font-size: 0.9rem;
  }

  .testimonial-info h3 {
    font-size: 1rem;
  }

  .testimonial-info p {
    font-size: 0.9rem;
  }

  .contact-info h2,
  .contact-form h2 {
    font-size: 1.6rem;
  }

  .contact-item i {
    font-size: 1.8rem;
  }

  .contact-item p {
    font-size: 0.9rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem;
  }

  .contact-form button {
    font-size: 1rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-section h3 {
    font-size: 1.3rem;
  }

  .footer-section ul li a {
    font-size: 0.9rem;
  }

  .social-links {
    justify-content: center;
  }

  .footer-bottom p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .banner-heading {
    font-size: 2rem;
  }

  .banner-text {
    font-size: 1rem;
  }

  .banner-boy {
    height: 350px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .banner-samosa {
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
  }

  .banner-text {
    font-size: 0.9rem;
  }

  .banner-content .btn {
    font-size: 0.8rem;
    padding: 8px 12px;
  }

  .products h1 {
    font-size: 2rem;
  }

  .about {
    padding-bottom: 0px;
  }

  .about h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }

  .about-image {
    width: 100%;
  }

  .about-image img {
    width: 100%;
  }

  .testimonials h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
