/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Modak&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Modak&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

:root {
  --main-heading-font: "Modak", serif;
  --primary-font: "Itim", serif;

  --brand-primary-color: #ff4453;
  --brnad-primary-light-color: #ff4454a9;

  --font-secondary-color: #2b2e5f;
  /* --brand-secondary-color:  */
  --white-color: #f8f9fa;
  --black-color: ;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* ############################################# Navbar ############################################## */

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 50px;
  background: #ff4453;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  width: auto;
}

.brand-name {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  transition: transform 0.8s ease-in;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #fff;
  color: #ff4453;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}

/*#################################################### home page ############################################################## */
/* Banner Section */
.banner {
  /* background: url("https://imgs.search.brave.com/6RVznYLHNUHTjkQmDAkfnbtt0qJ85w5WXJQ6QGbS804/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTI3/ODMxOTQzMS9waG90/by95b3VuZy13b21h/bi1kaXdhbGktY2Vs/ZWJyYXRlLXN0b2Nr/LXBob3RvLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz1hQmdZ/b3lYdXhBbWkwSGtH/ME5WS3FsSDd1cVNn/N25BMGltblNYTGlQ/a01nPQ") */
  background: url("images/home_banner.png") no-repeat center center/cover;
  height: 100vh; /* Full screen height */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
  overflow: hidden;
}

.banner-boy {
  position: absolute;
  bottom: 0px;
  left: -80px;
}

.banner-samosa {
  position: absolute;
  bottom: 60px;
  right: -180px;
}

/* Dark Overlay */
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

/* Banner Content */
.banner-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  animation: fadeIn 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
}

/* Heading Styling */
.banner-heading {
  font-size: 6rem;
  font-weight: 100;
  font-family: var(--main-heading-font);
  line-height: 3rem;
  color: var(--white-color);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  /* background-color: green; */
}

/* Banner Text */
.banner-text {
  color: var(--white-color);
  font-size: 1.8rem;
  font-family: var(--primary-font);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Button Styling */
.banner-content .btn {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #ff4453;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--primary-font);
  border-radius: 10px;
  transition: background 0.3s, transform 0.2s;
}

.banner-content .btn:hover {
  background: #f8f7f7;
  transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    text-shadow: 0 0 10px #323232;
  }
  50% {
    transform: scale(1.1);
    text-shadow: 0 0 20px #323232;
  }
}

/*################################################### product section #################################################### */

/* Product Section */
.section-products {
  background-color: #f5d19d47;
  text-align: center;
}

.section-products h1 {
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--main-heading-font);
  padding: 40px 0px 20px 0px;
  color: var(--brand-primary-color);
}

.section-products .products-section-banner {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.laddu-page {
  /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
  background-image: url("/images/bannerladdu.jpeg");
}

.burfi-page {
  /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
  background-image: url("/images/burfi_banner.jpeg");
}

.other-sweets-page {
  /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
  background-image: url("/images/banner_othersweets.jpeg");
}

.snacks-page {
  /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
  background-image: url("/images/snacks_banner.jpeg");
}

.cake-page {
  /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
  background-image: url("/images/cake_banner.jpeg");
}

.products-section-banner h1 {
  font-size: 6.5rem;
  font-weight: 100;
  font-family: var(--main-heading-font);
  text-shadow: 2px 2px 10px var(--brand-primary-color);
  margin-bottom: 30px;
  color: var(--white-color);
}

.product-container,
.product-variety-container {
  padding: 0px 50px 30px 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-card {
  background-color: #f5d19d;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  width: 350px;
  transition: transform 0.3s, box-shadow 0.3s;
  justify-self: flex-start;
  align-self: flex-start;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
  font-family: var(--primary-font);
}

.product-info h3 {
  font-size: 2rem;
  color: var(--brand-primary-color);
}

.product-info p {
  font-size: 1.1rem;
  line-height: 25px;
  color: var(--font-secondary-color);
  margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  color: var(--brand-primary-color);
  /* margin-bottom: 20px; */
}

.product-info .btn {
  display: inline-block;
  font-family: var(--primary-font);
  font-size: 1.3rem;
  padding: 10px 20px;
  background-color: #ff4453;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.product-info .btn:hover {
  background-color: #ff4454dd;
}

.product-variety-container {
  /* margin-top: 50px; */
}

.product-veriety-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 350px;
  height: 120px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #ff4453;
}

.product-variety-container img {
  display: block;
  width: 50%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.product-variety-content {
  text-align: left;
}

.product-variety-content h3 {
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: var(--primary-font);
  /* margin-bottom: 10px; */
}

.product-variety-content .btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
  color: #ff4453;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: var(--primary-font);
  transition: background-color 0.3s;
}

.product-variety-content .btn:hover {
  background-color: #ebe2e3;
}

/*############################################### About Page ################################################ */
/* About Us Section */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #fff;
}

.about-content {
  width: 50%;
  padding-right: 30px;
}

.about h1 {
  font-size: 3rem;
  font-family: var(--main-heading-font);
  font-weight: 100;
  margin-bottom: 20px;
  color: #ff4453;
  text-align: center;
}

.about p {
  font-size: 1.2rem;
  font-family: var(--primary-font);
  line-height: 1.4rem;
  color: var(--font-secondary-color);
  margin-bottom: 15px;
}

.about-amitjalpan {
  color: #ff4453;
  font-weight: bold;
}

.about-image {
  width: 40%;
}

.about-image img {
  width: 100%;
}

/*############################################### Testimonial Section ######################################### */
.testimonials {
  padding: 40px 50px;
  background-color: #f5d19d47;
  text-align: center;
}

.testimonials h1 {
  font-size: 3rem;
  font-family: var(--main-heading-font);
  font-weight: 100;
  margin-bottom: 20px;
  color: var(--brand-primary-color);
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.testimonial-card {
  background-color: #f5d19d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.testimonial-text p {
  font-size: 1.2rem;
  font-family: var(--primary-font);
  line-height: 1.5rem;
  font-style: italic;
  color: var(--font-secondary-color);
  margin-bottom: 15px;
}

.testimonial-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.testimonial-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #333;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonial-info h3 {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  color: var(--brand-primary-color);
  margin-bottom: 5px;
}

/*#################################################### Contact Us ####################################################*/
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px 0px 0px;
  background-color: #f5d19d47;
}

.contact-section h1 {
  font-size: 3rem;
  font-family: var(--main-heading-font);
  font-weight: 100;
  margin-bottom: 20px;
  color: var(--brand-primary-color);
}

.contact-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-section .map {
  width: 50%;
}
.map iframe {
  width: 100%;
  height: 600px;
  border: 0px;
}

.contact-info {
  width: 50%;
  height: 600px;
  background-image: url("/images/contact_us.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*#################################################### Footer Section #####################################################*/
.footer {
  background-color: #000; /* Black background */
  color: var(--white-color); /* White text */
  padding: 50px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.footer-section h3 {
  font-size: 2rem;
  font-family: var(--primary-font);
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff4453; /* Accent color */
}

.footer-section p,
.footer-section ul {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  line-height: 1.5rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #ff4453; /* Hover effect */
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links li {
  font-size: 1.5rem;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links li a:hover {
  color: #ff4453; /* Hover effect */
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555;
}

.footer-bottom p {
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--brand-primary-color);
  margin: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
  /*############################################## home page ################################################ */
  .banner-content {
    gap: 10px;
  }

  .banner-boy {
    height: 550px;
    position: absolute;
    bottom: 0px;
    left: 70px;
  }

  .banner-samosa {
    height: 500px;
    position: absolute;
    bottom: 650px;
    right: 20%;
  }

  .banner-heading {
    font-size: 4.5rem;
  }

  .banner-text {
    font-size: 1.8rem;
  }

  .banner-content .btn {
    font-size: 1.4rem;
    padding: 10px 20px;
  }

  .section-products .products-section-banner {
    height: 300px;
  }

  .section-products h1 {
    font-size: 4.5rem;
  }

  .product-card img {
    height: 180px;
  }

  .about {
    flex-direction: column;
    text-align: center;
    /* padding: 50px 30px; */
    padding-bottom: 0px;
  }

  .about-content {
    width: 100%;
    padding-right: 0;
  }

  .about-image {
    width: 100%;
    margin-top: 20px;
  }

  .about h1 {
    font-size: 3rem;
  }

  .about p {
    font-size: 1.5rem;
  }

  .testimonials h1 {
    font-size: 3rem;
  }

  .testimonial-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .testimonial-text p {
    font-size: 1rem;
  }

  .testimonial-info h3 {
    font-size: 1.2rem;
  }
  /*#################################################### Contact Us ####################################################*/
  .contact-section {
    padding: 0px 0px 0px 0px;
  }

  .contact-section h1 {
    font-size: 3rem;
  }

  .contact-content {
    flex-wrap: nowrap;
  }

  .contact-section .map {
    width: 50%;
  }
  .map iframe {
    width: 100%;
    height: 350px;
  }

  .contact-info {
    width: 50%;
    height: 350px;
    margin-bottom: 0px;
  }
}

/* Mobile Responsive Styling */
@media (max-width: 768px) {
  /*######################################################### Navigation bar ############################################################# */
  .brand-name {
    display: none; /* Hide the brand name on smaller screens */
  }

  .hamburger {
    display: flex; /* Show hamburger on mobile */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0;
    background: #ff4453;
    width: 100%;
    transform: translateX(100%);
    text-align: center;
  }

  .nav-links.open {
    display: flex;
    transform: translateX(0); /*Show the menu when open*/
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  /*############################################### home page ################################################ */
  .banner-content {
    padding: 10px;
    gap: 15px;
  }

  .banner-boy {
    height: 550px;
    position: absolute;
    bottom: 0px;
    left: 70px;
  }

  .banner-samosa {
    height: 500px;
    position: absolute;
    bottom: 500px;
    right: 100px;
  }

  .banner-heading {
    font-size: 6rem;
    line-height: 5rem;
  }

  .banner-text {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .banner-content .btn {
    font-size: 1.5rem;
    padding: 10px 20px;
  }

  .products h1 {
    font-size: 2.5rem;
  }

  .product-card img {
    height: 160px;
  }

  .product-info h3 {
    font-size: 1.2rem;
  }

  .product-info p {
    font-size: 0.9rem;
  }

  .price {
    font-size: 1rem;
  }

  .product-info .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .about h1 {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 1.2rem;
  }

  .testimonials h1 {
    font-size: 1.8rem;
  }

  .testimonial-text p {
    font-size: 0.9rem;
  }

  .testimonial-info h3 {
    font-size: 1rem;
  }

  .testimonial-info p {
    font-size: 0.9rem;
  }

  .contact-info h2,
  .contact-form h2 {
    font-size: 1.6rem;
  }

  .contact-item i {
    font-size: 1.8rem;
  }

  .contact-item p {
    font-size: 0.9rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem;
  }

  .contact-form button {
    font-size: 1rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-section h3 {
    font-size: 1.3rem;
  }

  .footer-section ul li a {
    font-size: 0.9rem;
  }

  .social-links {
    justify-content: center;
  }

  .footer-bottom p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  /*############################################### Navbar Styling ###########################################*/
  .navbar {
    padding: 2px 20px;
    position: fixed;
    width: 100%;
  }

  /*############################################### home page ################################################ */
  .banner-boy {
    height: 350px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .banner-samosa {
    height: 350px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -120%);
  }

  .banner-content {
    gap: 10px;
  }

  .banner-heading {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .banner-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .banner-content .btn {
    font-size: 1rem;
    padding: 8px 15px;
  }

  /*################################################### product section #################################################### */

  /* Product Section */
  .section-products {
  }

  .section-products h1 {
    font-size: 2rem;
  }

  .section-products .products-section-banner {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 20px 0px;
  }

  .laddu-page {
    /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
    background-image: url("/images/square_banner_laddu.jpeg");
  }

  .burfi-page {
    /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
    background-image: url("/images/square_banner_barfi.jpeg");
  }

  .other-sweets-page {
    /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
    background-image: url("/images/square_banner_othersweets.jpeg");
  }

  .snacks-page {
    /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
    background-image: url("/images/square_banner_snacks.jpeg");
  }

  .cake-page {
    /* background: linear-gradient(to right, #ff6c22, #ffa847) !important; */
    background-image: url("/images/square_banner_cake.jpeg");
  }

  .products-section-banner h1 {
    font-size: 6.5rem;
    line-height: 5rem;
    font-weight: 100;
    font-family: var(--main-heading-font);
    margin-bottom: 30px;
    color: var(--white-color);
  }

  .product-container,
  .product-variety-container {
    padding: 0px 20px;
  }

  .product-card {
    width: 300px;
  }

  .product-info h3 {
    font-size: 1.5rem;
  }

  .product-info p {
    font-size: 0.8rem;
    line-height: 18px;
  }

  .price {
    margin-bottom: 0px;
  }

  .product-info .btn {
    font-size: 1rem;
    padding: 8px 15px;
  }

  .product-veriety-card {
    width: 300px;
    height: 100px;
  }

  .product-variety-content {
    padding-right: 10px;
  }

  .product-variety-content h3 {
    font-size: 1.2rem;
  }

  .product-variety-content .btn {
    padding: 5px 10px;
    font-size: 1rem;
  }

  .product-variety-content .btn:hover {
    background-color: #ebe2e3;
  }

  /*############################################### About Page ################################################ */
  /* About Us Section */
  .about {
    padding: 50px 20px;
  }

  .about-content {
    width: 100%;
    padding-right: 0px;
  }

  .about h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .about p {
    font-size: 1rem;
  }

  .about-image {
    width: 100%;
  }

  .about-image img {
    width: 100%;
  }

  /*############################################### Testimonial Section ######################################### */
  .testimonials {
    padding: 50px 20px 0px 20px;
  }

  .testimonials h1 {
    font-size: 2rem;
  }

  /*#################################################### Contact Us ####################################################*/
  .contact-section {
    padding: 50px 0px 0px 0px;
  }

  .contact-section h1 {
    font-size: 2rem;
  }

  .contact-content {
    flex-wrap: wrap-reverse;
  }

  .contact-section .map {
    width: 100%;
  }
  .map iframe {
    width: 100%;
    height: 100vw;
  }

  .contact-info {
    width: 100%;
    height: 100vw;
    margin-bottom: 0px;
  }

  /*#################################################### Footer Section #####################################################*/
  .footer {
    padding: 50px 20px;
  }

  .footer-container {
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .footer-section {
    flex: 1;
    min-width: 200px;
  }

  .footer-section h3 {
    font-size: 1.5rem;
  }

  .footer-section p,
  .footer-section ul {
    font-size: 1rem;
  }

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 10px;
  }

  .footer-section ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .footer-section ul li a:hover {
    color: #ff4453; /* Hover effect */
  }

  .social-links {
    display: flex;
    gap: 15px;
  }

  .social-links li {
    font-size: 1.5rem;
  }

  .social-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .social-links li a:hover {
    color: #ff4453; /* Hover effect */
  }

  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
  }

  .footer-bottom p {
    font-size: 1rem;
    font-family: var(--primary-font);
    color: var(--brand-primary-color);
    margin: 0;
  }
}
